@import './reset';
@import './config';
body {
    // Screen Sizing
    min-width: 830px;
    @include sizing-wd_by_ht(100vw, 100vh);
    // Alloting Background
    background-image: url("./images/bg-desktop.png");
    background-color: $very-dark-blue;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    // Centering Content
    @include center-contents;
}

.container {
    @include sizing-wd_by_ht(80%,
    auto);
    display: grid;
    place-content: center;
    grid-template-columns: minmax(100px, 1fr) minmax(200px, 1.5fr);
    grid-template-areas: " card-1 card-2 ";
    grid-column-gap: 2em;
}

.logo-holder {
    grid-area: card-1;
    @include create-card($bgColor: $dark-blue, $pad: 1.5em, $bdr-rad: 15px);
    border-top-right-radius: 45%;
    .logo-image {
        margin-top: 1em;
    }
    .icon-container {
        margin-top: 2em;
        img {
            margin-right: 1em;
            @include create-card($bgColor: $very-dark-blue, $pad: 0.8em, $bdr-rad: 10px);
            @include sizing-wd_by_ht(3em,
            3em);
        }
    }
}

.storage-indicator {
    grid-area: card-2;
    margin-top: 3.5em;
    @include create-card($bgColor: $dark-blue, $pad: 2.5em, $bdr-rad: 15px);
    .display-text {
        @include page-fonts($weight: 100, $size: 0.9rem, $font-color: white);
        span {
            font-weight: 400;
        }
    }
    .visualiser {
        margin-top: 5%;
        @include create-card($bgColor: $very-dark-blue, $pad: 0.05em, $bdr-rad: 10px);
        @include sizing-wd_by_ht(100%,
        1em);
        .bar-body {
            @include create-card($bgColor: $bar-gradient, $pad: 0px, $bdr-rad: inherit);
            @include sizing-wd_by_ht(81.5%,
            100%);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .bar-head {
                @include create-card($bgColor: white, $pad: 0em, $bdr-rad: inherit);
                @include sizing-wd_by_ht(1em,
                1em);
            }
        }
    }
}

.left-storage-indicator {
    @include create-card($bgColor: white, $pad: 1em, $bdr-rad: 10px);
    padding-inline: 1.5em;
    border: 1px solid black;
    @include page-fonts($weight,
    $size,
    $font-color: $grayish-blue);
    span {
        @include page-fonts($weight: 700, $size: 2rem, $font-color: black);
    }
}

@media (max-width: 800px) {
    body {
        // Screen Sizing
        min-width: unset;
        // Alloting Background
        background-image: url("./images/bg-mobile.png");
        background-color: $very-dark-blue;
        background-position: center;
    }
    .container {
        grid-template-columns: unset;
        grid-template-rows: (100px, 1fr) minmax(200px, 1.5fr);
        grid-template-areas: " card-1 " " card-2 ";
        grid-column-gap: unset;
        grid-row-gap: 2em;
    }
    .storage-indicator {
        margin-top: 0em;
    }
}